@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  display: flex;
  height: 100vh;
  background: #d8e4fbd6;
}

/* <!-- ------------------------------------------------------LEFT-SECTION-------------------------------------------------------- --> */

.left-section {
  height: 100%;
  width: 180px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.left-section h2 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  transition: all 0.3s ease;
}

.left-section .item {
  display: flex;
  gap: 5px;
  padding: 20px 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.left-section .sign-out {
  display: flex;
  gap: 7px;
  padding: 20px 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.left-section .sidebar .item:hover {
  color: #6697db;
}

.left-section h2:hover {
  color: #6697db;
}
.left-section .sign-out:hover {
  color: #6697db;
}

/* -------------------------------------------------------------MAIN-SECTION------------------------------------------------ */

.main-section {
  height: 100%;
  width: 1100px;
}


/* ---------------------------------------------------------SEARCH-BOX--------------------------------------------------------------- */

.main-section .in-btns input {
  width: 70%;
  height: 35px;
  margin-left: 50px;
  margin-top: 30px;
  border: 2px solid gray;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 18px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}

.top .in-btns {
  position: relative;
  cursor: pointer;
}

#icon-1 {
  position: absolute;
  left: 64px;
  top: 55%;
  font-size: 22px;
  cursor: pointer;
}

#icon-2 {
  position: absolute;
  left: 72%;
  top: 55%;
  font-size: 22px;
}

.top {
  position: relative;
  cursor: pointer;
}

#icon-3 {
  font-size: 25px;
  border: 20px;
  transition: all 0.3 ease;
}
#icon-4 {
  font-size: 23px;
  margin: 20ox;
  transition: all 0.3 ease;
}

#icon-3:hover {
  color: #628ecb;
}
#icon-4:hover {
  color: #628ecb;
}

.out-btns {
  position: absolute;
  right: 25px;
  top: 55%;
  display: flex;
  gap: 20px;
}

/* <!-- -----------------------QUICK ACCESS------------------------- --> */

.quick-access {
  display: flex;
  flex-direction: column;
}

.quick-access .access {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.quick-access h2 {
  margin: 35px 55px;
  color: #395886;
}

.quick-access .access .file {
  background-color: #fff;
  width: 160px;
  height: 130px;
  border-radius: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.quick-access .access .file:hover {
  transform: scale(1.1);
}

.quick-access .access i {
  font-size: 50px;
}

.quick-access .access h3 {
  color: #0e264a;
}

.quick-access .access span {
  font-size: large;
  font-weight: 10;
  color: gray;
}

/* <!-- -------------------------------------RECENT SECTION--------------------- --> */

.recent-section .total-lines {
  background-color: #fff;
  width: 90%;
  height: 270px;
  margin: 0px auto;
  border: none;
  border-radius: 20px;

}

.recent-section h2 {
  margin: 40px 55px;
  color: #395886;
}

.recent-section .total-lines .line {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 18px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.recent-section .total-lines .line i {
  font-size: 30px;
}

.recent-section .total-lines .line h4 {
  color: #0e264a;
}

.recent-section .total-lines .line span {
  font-size: large;
  font-weight: 10;
  color: gray;
}

.recent-section .total-lines .line:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 20px;
}

/* -------------------RIGHT-SECTION---------------------- */

.right-section {
  height: 100%;
  width: 50vh;
}

/* <!------------------------------------------------------------------PROFILE-SECTION----------------------------------------------> */
.right-section .profile {
  background-color: #fff;
  width: 90%;
  height: 80px;
  margin: 30px 20px;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.right-section .profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-radius: 30px;
  cursor: pointer;
}

.right-section .profile i {
  font-size: 35px;
}

.right-section .profile h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
}

.right-section .profile span {
  font-weight: 10;
  color: gray;
}

/* <!----------------------------------------------------------------STORAGE-SECTION---------------------------------------------- --> */


.storage {
  width: 90%;
  height: 300px;
  background-color: #fff;
  margin: 40px auto;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.storage .circle {
  background-color: #fff;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 15px solid gainsboro;
  border-top-color: blue;
  border-radius: 50%;
  transform: rotate(45deg);
  position: relative;
}

.storage .circle h3 {
  font-weight: 700;
  transform: rotate(-45deg);
}

.storage .circle span {
  font-weight: 10;
  font-size: 12px;
  color: gray;
  transform: rotate(-45deg);
  position: absolute;
  left: 60px;
  bottom: 40px;
}

.storage .fr {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.storage .fr span {
  font-size: 18px;
  font-weight: 10;
  color: gray;
}

.storage .fr small{
  font-size: 13px;
}

/* ----------------------------------------------------------upload section------------------------------------------------------ */
.upload-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  pointer
}



.btn {
  border:none;
  color:white;
  background-color:#0b59cd;
  width:320px;
  height:45px;
  margin:10px 20px;
  border-radius:8px;
  font-size:20px;
  
}



.upload-btn input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* <!-- -------------------------------------------------PREMIUM SECTION------------------------------------------------------- -->
 */

.premium {
  border: none;
  background-color: #fff;
  color: black;
  width: 320px;
  height: 130px;
  margin:  20px;
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  position: relative;
}

.premium .hero {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
} 

.premium .hero h3{
  display: flex;
  gap: 10px;

}

.premium .hero h3 label{
  margin-top: 10px;


}

.premium .hero i{
  font-size: 25px;
  background-color:#0b59cd ;
  padding: 10px;
  border-radius: 15px;
  color: white;

}

.premium span {
  position: absolute;
  margin-top: 80px;
  bottom: 20px;
  left: 30px;font-size: 16px;
  font-weight: 300;
  color: gray;
}
